{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">

  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">Weather Reminder</h1>
      </div>
      <div class="modal-body p-5 pt-0">
        {% if request.user.is_authenticated %}
        <h1 class="fw-bold mb-0 fs-2">Hi {{ request.user.username }}!</h1>

        <p>Access token:</p>
        <div id="access-token-display" style="word-wrap: break-word;">{{access}}</div>
        <button id="copy-access-token-button" class="primaryAction w-200 mb-2 btn btn-lg rounded-3 btn-primary"
                type="submit">Copy Token</button>

          <small class="text-body-secondary"><p>
              {% blocktrans %}Refresh page to obtain new token.{% endblocktrans %}</p></small>
          <hr class="my-4">
         <a class="primaryAction " href="{% url 'account_logout' %}">Logout</a>
        {% else %}


        <h1 class="mb-4 fs-3">Not logged in</h1>



        <a class="btn w-100 mb-2 btn btn-lg rounded-3 btn-primary " href="{% url 'account_login' %}">Login</a>
        {% endif %}
          <div class="form-floating mb-3">
          </div>

      </div>
    </div>
  </div>
</div>

<script>
            document.getElementById('copy-access-token-button').addEventListener('click', function() {
            var tokenDisplay = document.getElementById('access-token-display');
            var range = document.createRange();
            range.selectNode(tokenDisplay);
            window.getSelection().addRange(range);

            try {
                // Copy the selected text to the clipboard
                document.execCommand('copy');
                alert('Token copied to clipboard');
            } catch (err) {
                console.error('Unable to copy token: ', err);
            }

            // Clear the selection
            window.getSelection().removeAllRanges();
        });
    </script>

{% endblock content %}

