{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm Email Address" %}{% endblock head_title %}


{% block content %}
<h1></h1>



<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">

  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-2">{% trans "Confirm Email Address" %}</h1>
      </div>

      <div class="modal-body p-5 pt-0">
          {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            {% if can_confirm %}
          <small class="text-body-secondary"><p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.{% endblocktrans %}</p></small>
          <hr class="my-4">
            {% else %}
            <p>{% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}</p>
            {% endif %}

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">{% trans 'Confirm' %}</button>
          <div class="form-floating mb-3">
          </div>
            <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
